/* Makes the Profile picture round */
.profile-picture {
    border-radius: 50px;
}

/* Makes list Items be Hovered Light Grey while Nav Links White Smoke */
li:hover {
    background-color:darkgray;
}
.nav-link:hover {
    color:whitesmoke;
}